.hero {
  background-color: var(--white-color);
  max-height: 620px;
  overflow: hidden;
}

.hero__wrapper {
  display: flex;
  column-gap: 1vw;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__content {
  padding: 130px 0;
  max-width: 445px;
  align-self: flex-start;
}

.hero__title {
  font-size: 60px;
  font-weight: 400;
  color: var(--hero-grey-color);
}

.hero__desc {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-light-grey-color);
}

.hero__image {
  display: flex;
}

.hero__image img {
  max-width: 540px;
  vertical-align: bottom;
}

@media (max-width: 1000px) {
  .hero__image img {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .hero__content {
    padding: 65px 0;
  }

  .hero__title {
    font-size: 50px;
    font-weight: 400;
  }
}

@media (max-width: 576px) {
  .hero__content {
    padding: 60px 0;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__desc {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero__content {
    padding: 49px 0;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero__desc {
    font-size: 14px;
  }

  .hero__image {
    display: none;
  }
}
