:root {
  --white-color: #ffffff;
  --bg-gray-color: #ebebeb;
  --hero-grey-color: #4c5866;
  --text-light-grey-color: #85859b;
  --text-grey-color: #666666;
  --text-ultra-light-grey-color: #b5b5bd;
  --text-blue-color: #7875fe;
  --button-hover-color: #4946b4;
  --nav-border-color: #dddddd;
  --card-grey-border: #c0c0c0;
}
